*{
    font-family: 'Oswald', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.save{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}


.text-light{
    color: var(--light);
}

.text-gradient{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav{
    background-color: #06d6a0;
    padding: 1em 0;
    width: 100%;
}

/*  add & insert product */

.new_prod{
    max-width: 1024px;
    margin: auto;
}

#update_prod .form-group,
#add_prod .form-group{
    margin: .4em 0;
}

#update_prod .form-group input[type="text"],
#add_prod  .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_prod .form-group .radio,
#add_prod  .form-group .radio{
    margin: 1em 2em;
}


#update_prod .form-group .btn,
#add_prod .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#16db93; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_prod .form-group .btn:hover,
#add_prod  .form-group .btn:hover{
    background-color: var(--dark);
    color: var(--border);
}

#form
{
 float:right;
}

#topBar
{
text-align: center;
/* width:92%; */
/* float:left; */
background-color: #76bda3; 
border: 1px solid green; 
color: white; 
padding: 14px 16px; 
}

#b
{
text-align: center;
/* width:92%; */
/* float:left; */
color: white; 
padding: 14px 16px; 
}

#footer
{
text-align: center;
width:92%;
float:left;
background-color: #76bda3; 
border: 1px solid green; 
color: white; 
padding: 10px 24px; 
/* width: 942px; */
margin: auto;
/* position: fixed; */
left: auto;
position: relative;
bottom: 0%;
}

.buttons_group button{
    background-color: #04AA6D; 
    color: white;
    padding: 10px 24px;
    cursor: pointer; 
    width: 92px;
    align-items: center;
}

.buttons_group:after {
    content: "";
    clear: both;
    display: table;
}

.buttons_group button:not(:last-child) {
    border-right: none; 
}
  
  /*background color on hover */
.buttons_group button:hover {
    background-color: #3e8e41;
}

.b_buttons{
    padding: 10px 24px; 
    float: left; 
}

.navbar {
    overflow: hidden;
    background-color: #76bda3;
}

.navbar a {
    /* float:none; */
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}
